.precoTotal {
  width: 100%;
  background-color: cadetblue;
  color: white;
  padding: 0;
  margin: 0;
}

.laranja {
  color: rgb(255, 113, 18);
}

.azul {
  color: cadetblue;
}

.cinza {
  color: gray;
}
