<ion-content>
  <!-- <ion-router-outlet></ion-router-outlet> -->

  <ion-tabs>
    <small
      style="background-color: cadetblue; color: white"
      class="ion-text-center"
      >Arraste para o lado para mais opções</small
    >

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="lembretes">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>Lembretes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="compras">
        <ion-icon name="basket"></ion-icon>
        <ion-label>Compras</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="dividas">
        <ion-icon name="card"></ion-icon>
        <ion-label>Dividas</ion-label>
      </ion-tab-button> -->

      <!-- <ion-tab-button tab="programacao">
        <ion-icon name="bug"></ion-icon>
        <ion-label>Programação</ion-label>
      </ion-tab-button> -->
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
