<p>cadastrando uma divida</p>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>formularios</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onReactiveChange()" [disabled]="!reactiveForm.valid">
      <ion-button>
        <ion-icon slot="icon-only" name="checkMark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content> -->
